<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://dn-coding-net-production-file.qbox.me/934f526a-d325-4280-874f-b9dbe2dfabb5.ipa?download/dxc.ipa&e=1479356694&token=goE9CtaiT5YaIP6ZQ1nAafd_C1Z_H2gVP8AwuC-5:g4pK5E3iSb0HJCN00PrqJOhQ6UQ=</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://dn-coding-net-production-file.qbox.me/d82b6cd0-2076-4d0a-8058-4d47389efe72.png?download/57.png&amp;e=1479350489&amp;token=goE9CtaiT5YaIP6ZQ1nAafd_C1Z_H2gVP8AwuC-5:BI265A12kcHUjj_dnoq3BB7wPpM=</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://dn-coding-net-production-file.qbox.me/d794b2b7-fa2d-4b19-830b-a07d3d065714.png?download/512.png&amp;e=1479350458&amp;token=goE9CtaiT5YaIP6ZQ1nAafd_C1Z_H2gVP8AwuC-5:T-KNwim7VQSvC3FhEY--MedFbds=</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.3c.ZSYLP3c</string>
				<key>bundle-version</key>
				<string>1.1.9</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>dxc</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
